{% extends "layout.html" %}
{% block baslik %}
Anasayfa - Little
{% endblock baslik %}

{% block icerik%}
<div class="products">
	<div class="container">
		<div class="row products_row">
			<!-- Product -->
			{% for yaz in urunler %}
			<div class="col-xl-4 col-md-6">
				<div class="product">
					<div class="product_image"><img style="height:400px; width:350px;padding:0px 40px 0px 40px;"src="{{ yaz.resim }}" alt=""></div>
					<div class="product_content">
						<div class="product_info d-flex flex-row align-items-start justify-content-start">
							<div>
								<div>
									<div class="product_name"><a href="/urun/{{yaz.id}}">{{yaz.uismi}}</a></div>
								</div>
							</div>
							<div class="ml-auto text-right">
								<div class="product_price text-right">{{yaz.fiyat}}<span>.99</span> &#8383;<!--Znak waluty--></div>
								<div class="product_category py-1">Sztuk: {{yaz.stok}} sztuk</div>
								<div class="product_category py-1">Sprzedanych: {{yaz.populer}} sztuk</div>
							</div>
						</div>
						<div class="product_buttons">
							<div class="text-right d-flex flex-row align-items-start justify-content-start">
								<div class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
										<div><div><a href="/sepeteEkle/{{yaz.id}}"><img src="{{ url_for('static',filename='images/cart.svg') }}" class="svg" alt=""><div>+</div></a></div></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}

		</div>
	</div>
</div>
{% endblock icerik%}

{% block script %}
<script src="{{ url_for('static',filename='js/custom.js') }}"></script>
{% endblock script %}
