<!DOCTYPE html>
<html lang="tr">
<head>
<title>{% block baslik %}{% endblock baslik %}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Little Closet Alışveriş Sitesi">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bootstrap-4.1.2/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles_samet.css') }}">
<link href="{{ url_for('static',filename='plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='plugins/OwlCarousel2-2.2.1/owl.carousel.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='plugins/OwlCarousel2-2.2.1/owl.theme.default.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='plugins/OwlCarousel2-2.2.1/animate.css') }}">
{% block stil %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main_styles.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/responsive.css') }}">
{% endblock stil %}

</head>
<body>

<!-- Menu -->

<div class="menu">
	<!-- Navigation -->
	<div class="menu_nav">
		<ul>
		{% for yaz in kategoriler %}
			<li><a href="/kategori/{{yaz.id}}">{{yaz.kismi}}</a></li>
		{% endfor %}
		</ul>
	</div>
</div>

<div class="super_container">

	<!-- Header -->

	<header class="header">
		<div class="header_overlay"></div>
		<div class="header_content d-flex flex-row align-items-center justify-content-start container">
			<div class="logo">
				<a href="{{url_for('index')}}">
					<div class="d-flex flex-row align-items-center justify-content-start">
						<div><img src="{{ url_for('static',filename='images/logo_1.png') }}" alt=""></div>
						<div>Little</div>
					</div>
				</a>
			</div>
			<div class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></div>

			<div class="d-flex flex-row align-items-center justify-content-start ml-auto">
				<!-- kullanıcı -->
				<div class="admin">
					<ul>
					{% if session['giris_ok'] %}
						<li><a href="/cikis">Wyloguj się</a></li>
						{% if session['yetki']==1 %}
						<li><a href="/ekle">Zarządzanie produktem</a></li>
						{%endif%}
						<li><a href="/siparis">Moje zamówienia</a></li>
						<li>{{session["isim"]}}</li>
					{% else %}
						<li><a href="/giris">Zaloguj się</a></li>
						<li><a href="/kayit">Zarejestruj się</a></li>
					{% endif %}
					</ul>
				</div>
					<div class="user"><a><div><img src="{{ url_for('static',filename='images/user.svg') }}" alt=""></div></a></div>

				<!-- sepet -->
				<div class="cart"><a href="/sepet"><div><img class="svg" src="{{ url_for('static',filename='images/cart.svg') }}" alt=""></div></a></div>
			</div>
		</div>
	</header>

	<div class="super_container_inner">

		<!-- icerik -->
		{% block icerik %}

		{% endblock icerik %}

		<!-- Footer -->

		<footer class="footer">
			<div class="container">
				<div class="footer_content">
					<div class="container">
						<div class="row">

							<!-- About -->
							<div class="col-md-12 footer_col">
								<div class="footer_about">
									<div class="footer_logo">
										<a href="{{url_for('index')}}">
											<div class="d-flex flex-row align-items-center justify-content-start">
												<div class="footer_logo_icon"><img src="{{ url_for('static',filename='images/logo_2.png') }}" alt=""></div>
												<div>Little</div>
											</div>
										</a>
									</div>
									<div class="footer_about_text">
										<p>Python Flask i SqLite3 made by linuxiarz</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer_bar">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="footer_bar_content d-flex flex-md-row flex-column align-items-center justify-content-start">
								<div class="copyright order-md-1 order-2"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Prawa autorskie &copy;<script>document.write(new Date().getFullYear());</script> Team linuksiarza <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://www.qubes-os.org/" target="_blank">Linuxiarz</a>
</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>

</div>

<script src="{{ url_for('static',filename='js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static',filename='styles/bootstrap-4.1.2/popper.js') }}"></script>
<script src="{{ url_for('static',filename='styles/bootstrap-4.1.2/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='plugins/greensock/TweenMax.min.js') }}"></script>
<script src="{{ url_for('static',filename='plugins/greensock/TimelineMax.min.js') }}"></script>
<script src="{{ url_for('static',filename='plugins/scrollmagic/ScrollMagic.min.js') }}"></script>
<script src="{{ url_for('static',filename='plugins/greensock/animation.gsap.min.js') }}"></script>
<script src="{{ url_for('static',filename='plugins/greensock/ScrollToPlugin.min.js') }}"></script>
<script src="{{ url_for('static',filename='plugins/OwlCarousel2-2.2.1/owl.carousel.js') }}"></script>
<script src="{{ url_for('static',filename='plugins/easing/easing.js') }}"></script>
<script src="{{ url_for('static',filename='plugins/progressbar/progressbar.min.js') }}"></script>
<script src="{{ url_for('static',filename='plugins/parallax-js-master/parallax.min.js') }}"></script>
{% block script %}

{% endblock script %}
</body>
<!--Kod weryfikacji-->
</html>
