{% extends "layout.html" %}
{% block baslik %}
Dodaj produkt - Little
{% endblock baslik %}
{% block stil %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/checkout.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/checkout_responsive.css') }}">
{% endblock stil %}

{% block icerik%}
<div class="home" style="height:200px;">
			<div class="home_container d-flex flex-column align-items-center justify-content-end">
				<div class="home_content text-center">
					<div class="home_title">Usuń produkt</div>
				</div>
			</div>
		</div>

		<!-- Checkout -->
			<div class="container">
				<div class="row">
                    <div class="col-lg-12">
						<div class="billing">
							<div class="checkout_title">Wybierz produkt do usunięcia i kontynuuj</div>
							<div class="checkout_form_container">
								<form action="/sil" method="POST"id="checkout_form" class="checkout_form">
									<div>
										<!-- Country -->
										<select name="urunsec" id="checkout_country" class="dropdown_item_select checkout_input" require="required">
											{% for yaz in urunler %}
											<option value="{{yaz.id}}">{{yaz.uismi}}</option>
											{% endfor %}
										</select>
									</div>
									<button type="submit" class="btn btn-success col-md-12 checkout_button trans_200" style="border:0px;">Usuń</button>
								</form>
							</div>
						</div>
					</div>
				</div>
            </div>
			<div class="container">
				<div class="row">
				 	<div class="col-md-6 py-3"><a href="/ekle"><button type="button" class="btn btn-success col-md-12">Dodaj nowy produkt</button></a></div>
					<div class="col-md-6 py-3"><a href="/guncelle"><button type="button" class="btn btn-info col-md-12">Zaktualizuj produkt</button></a></div>
				</div>
			</div>
{% endblock icerik %}

{% block script %}
<script src="{{ url_for('static',filename='js/checkout.js') }}"></script>
{% endblock script %}
